- provide(:title, "Log in")
%transbox{:style => "position: relative; top: 150px; width: 5%"}
  %h1 Log in
  .row
    .col-md-6.col-md-offset-3
      = form_for(:session, url: login_path) do |f|
        = f.label :email
        = f.email_field :email, class: 'form-control', style: "width:250px"
        = f.label :password
        = f.password_field :password, class: 'form-control', style: "width:250px"
        %br= f.submit "Log in", class: "button3", style: "width:300px"
        = f.label :remember_me, class: "checkbox inline" do
          = f.check_box :remember_me
          %span Remember me on this computer
        = link_to "(forgot password)", new_password_reset_path
      %p
        New user? #{link_to "Sign up now!", signup_path}
        
