- provide(:title, 'Reset password')
%transbox{:style => "position: relative; top: 150px; width: 5%"}
%h1 Reset password
.row
  .col-md-6.col-md-offset-3
    = form_for(@user, url: password_reset_path(params[:id])) do |f|
      = render 'shared/error_messages'
      = hidden_field_tag :email, @user.email
      = f.label :password
      = f.password_field :password, class: 'form-control', style: "width:250px"
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: 'form-control', style: "width:250px"
      = f.submit "Update password", class: "button3", style: "width:300px"