-#  This file is app/views/movies/index.html.haml
%h3.ib-container All Movies 

= form_tag movies_path, :method => :get, "id" => "ratings_form" do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[ratings_#{rating}]", "1", @checked["ratings_#{rating}"] ? true : false
  = submit_tag 'Refresh', "id" => "ratings_submit"

%table#movies
  %thead
    %tr
      %th= link_to "Movie Title", :sort_by => "title"
      %th Rating
      %th= link_to "Release Date", :sort_by => "release_date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
= link_to 'Update movie', movies_updater_path
= link_to 'Delete movies', movies_delete_path