!!!
%html
  %head
    %title NearPeer.org
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1=link_to '', root_path, class: "image", style: "text-decoration: none"
    %ul
      - if logged_in?
        %li=link_to 'Home', root_path
        %li=link_to 'Courses', courses_path
      %u1{:style => "float:right; list-style-type:none"}
        - if logged_in?
          %li= link_to "Users", users_soon_path
          %li= link_to "Profile", users_soon_path
          %li= link_to "Settings", users_soon_path
          %li= link_to "Log out", logout_path, method: "delete"
          %li=link_to 'ContactUs', users_soon_path
        - else
          %li= link_to "Log in", login_path
          %li=link_to 'ContactUs', users_soon_path
    %u1
      - if flash[:notice]
        .alert.alert-danger= flash[:notice]
      - elsif flash[:warning]
        .alert.alert-danger= flash[:warning]
      - elsif flash[:danger]
        .alert.alert-danger= flash[:danger]
      - else flash[:success]
        .alert.alert-danger= flash[:success]

      = yield
      

